################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/dataset
/output
__pycache__/
.vs/
*.pyc